<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css" />
    <title>Sample Express App</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the Sample Express Application</h1>
    </header>
    <main>
      <h2>Congratulation!!</h2>
      <p>This application is installed in Amazon AWS Cloud!</p>
      <p>
        <strong>AWS (Amazon Web Service)</strong> is the cloud platform provided
        by Amazon. AWS provides servers and services on demand basis those are
        highly scalable.
      </p>
      <h3>AWS Global Infrastructure</h3>
      <ul>
        <li>AWS Regions</li>
        <li>AWS Availability Zones</li>
        <li>AWS Data Centers</li>
        <li>AWS Edge Locations / Point of Presence</li>
      </ul>
      <h3>AWS Main Services</h3>
      <ul>
        <li>IAM - Access and Role Management</li>
        <li>EC2 - Virtual Server</li>
        <li>EBS, EFS - Elastic Block Storage & Network File system</li>
        <li>S3 - Bulk Storage</li>
        <li>Load Balancers (ALB, NLB, GLB) - Load Balance Service</li>
        <li>Auto Scaling Groups (ASG) - Scaling Resources</li>
        <li>RDS - Relational Database</li>
        <li>ElastiCache - Cache Service</li>
        <li>Amazon Aurora - Relation Database (Amazon Specific)</li>
        <li>Route 53 - DNS register & DNS Services</li>
        <li>VPC - Virtual Private Cloud</li>
        <li>
          Container Services (ECS, EKS, ECR) - Docker Container and Registry
        </li>
        <li>Elastic Beanstalk - Code Deployment Service</li>
        <li>
          CICD - CodeCommit, CodeBuild, CodeDeploy, CodePipeline, Codestar,
          CodeGuru, CodeArtifact
        </li>
        <li>DynamoDB - NoSQL Database Service</li>
        <li>AWS Lambda - Serverless Function</li>
      </ul>
    </main>
    <footer>
      <p>Made with 💟 - Debaditya Bhar</p>
    </footer>
  </body>
</html>
