<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/mainStyle.css" />
    <title>Sample Express App</title>
  </head>
  <body>
    <header>
      <h1>Welcome to the Sample Express Application</h1>
    </header>
    <main>
      <h2>Congratulation!!</h2>
      <p>This application is installed in Amazon AWS Cloud!</p>
      <p>
        <strong>AWS (Amazon Web Service)</strong> is the cloud platform provided
        by Amazon. AWS provides servers and services on demand basis those are
        highly scalable.
      </p>
      <h3>AWS Global Infrastructure</h3>
      <ul>
        <li>AWS Regions</li>
        <li>AWS Availability Zones</li>
        <li>AWS Data Centers</li>
        <li>AWS Edge Locations / Point of Presence</li>
      </ul>
      <h3>AWS Main Services</h3>
      <ul>
        <li>IAM</li>
        <li>EC2</li>
        <li>EBS, EFS</li>
        <li>S3</li>
        <li>Load Balancers (ALB, NLB, GLB)</li>
        <li>Auto Scaling Groups (ASG)</li>
        <li>RDS</li>
        <li>ElastiCache</li>
        <li>Amazon Aurora</li>
        <li>Route 53</li>
        <li>VPC</li>
        <li>Container Services (ECS, EKS, ECR)</li>
        <li>Elastic Beanstalk</li>
        <li>CICD</li>
        <li>DynamoDB</li>
      </ul>
    </main>
    <footer>
      <p>Made with 💟 - Debaditya Bhar</p>
    </footer>
  </body>
</html>
